.product_data {
    width: 400px;
    max-width: 400px;
    padding: 10px 20px;
    background-color: white;
    margin: 10px auto;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

.prod {
    margin: 10px;
    width: 250px;
    max-width: 250px;
    height: 25px;
    background-color: #F9F9F9;
    border-radius: 2px;
    border: 1px solid #aaa;
}

    .prod:focus {
        background: #d2d9dd;
    }

input.prod,
textarea.prod {
    width: 230px;
    padding: 2px 8px;
}

.descr {
    height: 50px;
    max-height: 100px;
    width: 250px;
}

.button:hover {
    background: #0069b2;
}

.flag {
    background-color: #000;
    height: 30px;
    width: 30px;
    display: inline-block;
    border-radius: 20px 20px 20px 0px;
    margin-right: 15px;
}

.product legend {
    font-size: 1.2em;
}

.button {
    padding: 10px 15px 20px 15px !important;
}

label.label {
    width: 120px;
    display: inline-block;
}

p.formfield {
    margin: 0;
    padding: 0;
}

.formfield * {
    vertical-align: middle;
}
