#control_products {
    height: 60px;
    padding: 5px;
    padding-left: 10px;
    background-color: white;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 10px;
    margin-top: 5px;
}

.custom_btn {
    height: 25px;
    display: inline-block;
    background: #005B9A;
    border: solid 1px rgba(255,255,255,0.4);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.9), 0px 0px 6px rgba(0,0,0,0.5);
    border-radius: 2px;
    padding: 5px;
    padding-top: 7px;
    margin: 10px 10px 5px;
    text-align: center;
    color: white;
}

    .custom_btn:hover {
        cursor: pointer;
        background: #0069b2;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5), 0px 0px 8px rgba(0,0,0,0.6);
    }

    .custom_btn:active {
        cursor: pointer;
        background: #000;
        border: solid 1px rgba(255,255,255,0.3);
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5);
    }

    .custom_btn span {
        font-size: 1.05em;
        font-family: calibri;
    }

#view_mode {
    float: right;
    display: inline-block;
    background-color: blue;
    width: 80px;
    height: 40px;
    margin-top: 10px;
    margin-right: 10px;
    border-radius: 20px;
    border: solid 1px rgba(255,255,255,0.4);
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.5), 0px 0px 6px rgba(0,0,0,0.3);
    background: #005B9A;
}

    #view_mode .grid {
        cursor: pointer;
        width: 39px;
        float: left;
        height: 100%;
        border-right: 1px solid rgba(0,0,0,0.2);
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

        #view_mode .grid:hover {
            background: #0069b2;
        }

        #view_mode .grid img {
            margin-top: 9px;
            margin-left: 12px;
            width: 20px;
            opacity: 0.7;
        }

        #view_mode .grid:hover img {
            opacity: 0.8;
        }

    #view_mode .list {
        cursor: pointer;
        width: 39px;
        height: 100%;
        float: right;
        border-left: 1px solid rgba(255,255,255,0.3);
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

        #view_mode .list:hover {
            background: #0069b2;
        }

        #view_mode .list img {
            margin-top: 7px;
            margin-left: 7px;
            width: 22px;
            opacity: 0.7;
        }

        #view_mode .list:hover img {
            opacity: 0.8;
        }

.active {
    background: #000;
}

    .active:hover {
        background: #000 !important;
    }

.searchbox {
    width: 200px;
    padding: 10px 10px;
    margin: 8px 10px;
    box-sizing: border-box;
    float: left;
}

.selectFilter {
    width: 150px;
    padding: 10px 10px;
    margin: 8px 10px;
}

.display-image {
    width: 100px;
    max-height: 100px;
    margin-left: 10px;
}

input[name="file"] {
    margin:5px 0 5px 10px;
}