.product {
    float: left;
    margin: 5px;
    margin-top: 10px;
    width: 940px;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.7);
    border: 1px solid rgba(255,255,255,0.4);
    height: 40px;
    border-radius: 3px;
    line-height: 5px;
    background: #005B9A;
    color: white;
    font-family: calibri;
    font-size: 1.2em;
}

    .product:hover {
        background: #0069b2;
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.7), 0px 0px 8px rgba(0,0,0,0.6);
    }

h1, h2, h3, h4, h5, h6 {
    margin-left: 10px;
    font-family: calibri;
    color: #000;
}

.product_id {
    float: left;
    width: 80px;
    height: 100%;
    border-right: 1px solid rgba(0,0,0,0.3);
    box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.3);
}

    .product_id p {
        margin: 15px;
    }

.product-name {
    width: 560px;
    float: left;
    border-right: 1px solid rgba(0,0,0,0.3);
    box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.3);
    height: 100%;
}

    .product-name .cart {
        width: 300px;
    }

.product-quantity {
    width: 100px;
    float: left;
    border-right: 1px solid rgba(0,0,0,0.3);
    box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.3);
    height: 100%;
}

    .product-quantity input {
        width: 100px;
        padding: 10px 5px;
        margin: 0;
        box-sizing: border-box;
        float: left;
    }

.action-add {
    border-right: 1px solid rgba(0,0,0,0.3);
    box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.3);
}

.product-name p {
    margin: 15px 0px 0 10px;
}

.product-price {
    width: 154px;
    float: left;
    border-right: 1px solid rgba(0,0,0,0.3);
    box-shadow: 1px 0px 0px 0px rgba(255,255,255,0.3);
    height: 100%;
}

    .product-price.wishlistSize {
        width: 254px;
    }

    .product-price p {
        margin: 15px 0px 0 10px;
    }

.product-remove {
    cursor: pointer;
    float: left;
    height: 100%;
    width: 42px;
}

    .product-remove span {
        line-height: 35px;
        margin-left: 17px;
        font-weight: bold;
        font-family: arial;
    }

    .product-remove:hover {
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2), 0px 0px 8px rgba(0, 0, 0, 0.2);
    }

    .product-remove:active {
        background: #000;
    }

.productbottom {
    width: 140px;
    float: right;
}

.total {
    float: right;
    width: 120px;
    height: 40px;
    margin-top: 10px;
    margin-right: 14px;
    border-radius: 7px;
    color: white;
    background: #000;
    border: solid 1px white;
    box-shadow: inset 0px 0px 5px rgba(0,0,0,0.8);
    text-align: center;
}

    .total p {
        margin: auto;
        margin-top: 10px;
        text-shadow: 1px 1px 0px black;
    }

.checkout {
    float: right;
    margin-top: 10px;
}

    .checkout button {
        cursor: pointer;
        margin-right: 14px;
        float: right;
        width: 90px;
        height: 40px;
        border: 1px solid rgba(255,255,255,0.6);
        box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.6);
        background: #005B9A;
        border-radius: 7px;
        color: white;
        font-size: 102%;
    }

        .checkout button:hover {
            box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 8px rgba(0,0,0,0.6);
            background: #0069b2;
        }

        .checkout button:active {
            box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.6), 0px 0px 0px rgba(0,0,0,0.6);
            background: #000;
        }