html, body {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
    width: 100%;
}

/*Footer*/
#footer {
    height: 40px;
    background-color: #000;
    overflow: hidden;
}

    #footer p {
        color: white;
        margin: 10px 20px;
        font-family: calibri;
    }