<!DOCTYPE html>

<html>
<head>
    <title>SportShop Web Shop</title>
    <link rel="stylesheet" href="css/stylesheet.css">
    <link rel="stylesheet" href="css/add_edit.css">
    <link rel="stylesheet" href="css/cardview.css">
    <link rel="stylesheet" href="css/checkout.css">
    <link rel="stylesheet" href="css/controls.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/tableview.css">
    <link rel="stylesheet" href="css/account.css">
    <link rel="stylesheet" href="css/product.css">
    <link rel="stylesheet" href="css/angular-ui-notification.min.css">
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/angular-route.js"></script>
    <script type="text/javascript" src="js/angular-cookies.js"></script>
    <script type="text/javascript" src="js/angular-ui-notification.min.js"></script>
    <script type="text/javascript" src="js/angular-base64-upload.js"></script>
</head>

<body ng-app="webShopApp" ng-controller="mainController">
    <div id="container">
        <div id="header">

            <div id="cart-logo" ng-if="isLoggedUser()">
                <div id="articles-nr">
                    <span>{{ cartSize }}</span>
                </div>
                <a href="#!/cart">
                    <div id="cart-btn" class="custom_btn2">
                        <img src="img/cart.png" />
                    </div>
                </a>
            </div>

            <div id="wl-logo" ng-if="isLoggedUser()">
                <div id="articles-wl">
                    <span>{{ getWishlistSize() }}</span>
                </div>
                <a href="#!/wishlist">
                    <div id="wl-btn" class="custom_btn2">
                        <img src="img/wishlist.png" />
                    </div>
                </a>
            </div>

            <div id="logo-wrapper">
                <a href="#!/home"><img src="img/logo.png" id="logo" /></a>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="#!/home">Home</a></li>
                    <li><a href="" ng-click="accessProductsPage()">Products</a></li>
                    <li><a ng-if="isLoggedUser()" ng-click="editMyProfile()">My Profile</a></li>
                    <li><a ng-if="isLoggedUser()" href="#!/myOrders">My Orders</a></li>
                    <li><a ng-if="isAdmin()" href="#!/users">Users</a></li>
                    <li><a ng-if="isAdmin()" href="#!/orders">Orders</a></li>
                    <li><a href="#!/contact">Contact</a></li>
                    <li ng-if="!isLoggedUser()" class="login"><a href="#!/account">Login</a></li>
                    <li ng-if="isLoggedUser()" class="login"><a href="" ng-click="logout()">Logout</a></li>
                </ul>
            </div>
        </div>

        <div id="content">

            <div ng-view></div>
        </div>

        <div id="footer">
            <center>
                <p>SportShop Web Portal | &copy; Copyright 2019 Vlad Miron</p>
            </center>
        </div>
    </div>

    <script src="app.js"></script>

    <script src="Controllers/productController.js"></script>
    <script src="Controllers/productDetailsController.js"></script>
    <script src="Controllers/cartController.js"></script>
    <script src="Controllers/wishlistController.js"></script>
    <script src="Controllers/userController.js"></script>
    <script src="Controllers/mainController.js"></script>
    <script src="Controllers/myOrderController.js"></script>
    <script src="Controllers/orderController.js"></script>
    <script src="Controllers/accountController.js"></script>
    <script src="Controllers/homeController.js"></script>
    <script src="Controllers/contactController.js"></script>

    <script src="Services/cartService.js"></script>
    <script src="Services/wishlistService.js"></script>
</body>
</html>