<h2>Cart products: </h2>

<div class="product" ng-repeat="prod in cartProducts">
    <div class="product_id">
        <p>#{{prod.ID}}</p>
    </div>

    <div class="product-name cart">
        <p><a href="#!/productDetails/{{prod.ID}}">{{prod.Quantity}} x {{prod.Name}}</a></p>
    </div>

    <div class="product-quantity">
        <input type="number" ng-value="{{prod.Quantity}}" ng-model="newQuantity[prod.ID]" ng-change="updateQuantity(prod, newQuantity[prod.ID])" />
    </div>

    <div class="product-price cart">
        <p>{{prod.Price}} RON</p>
    </div>

    <div class="product-remove" ng-click="removeProductFromCart(prod)" title="Remove product from cart">
        <span>-</span>
    </div>
</div>

<div class="productbottom">
    <div class="total">
        <p>{{totalPrice}} RON</p>
    </div>
    <div class="checkout">
        <button ng-click="addOrder()">Checkout</button>
    </div>
</div>