<div id="control_products">

    <select class="selectFilter" ng-model="search.Category" ng-init="userRole = !user.IsAdmin ? 'user' : 'admin'">
        <option value="">Category</option>
        <option ng-repeat="category in categories" ng-value="category.Name">{{category.Name}}</option>
    </select>

    <select class="selectFilter" ng-model="search.Size" ng-init="userRole = !user.IsAdmin ? 'user' : 'admin'">
        <option value="">Size</option>
        <option ng-repeat="size in sizes | orderBy:'toString()'" ng-value="size">{{size}}</option>
    </select>

    <!--<a href="" ng-click="addProductsToWishlist(products)">
        <div id="add_product_wl" class="custom_btn">
            <span>Add to whishlist</span>
        </div>
    </a>
    <a href="" ng-click="addProductsToCart(products)">
        <div id="add_product_cart" class="custom_btn">
            <span>Add to cart</span>
        </div>
    </a>-->

    <a href="#!/saveProduct" ng-if="isAdmin()" ng-click="gotoAddProduct()">
        <div id="add_product" class="custom_btn">
            <span>Add new product</span>
        </div>
    </a>

    <!--<a href="" ng-if="isAdmin()" ng-click="deleteProducts(products)">
        <div id="delete_product" class="custom_btn">
            <span>Delete products</span>
        </div>
    </a>-->

    <div id="view_mode">
        <a href="#!/productsCard" ng-click="changeView('card')">
            <div class="grid active">
                <img src="img/grid.png" />
            </div>
        </a>
        <a href="#!/productsTable" ng-click="changeView('table')">
            <div class="list">
                <img src="img/list.png" />
            </div>
        </a>
    </div>

    <input type="text" class="searchbox" ng-model="search.Name" placeholder="Search by name" />
</div>

<div ng-repeat="product in products | orderBy:['-CreatedDate','Name'] | filter:search" class="product-card">
    <div class="header_section" ng-init="product.checked=false">
        <span>#{{product.ID}}</span>
        <p>
            <a href="#!/productDetails/{{product.ID}}">{{product.Name}}</a>
        </p>
        <!--<input type="checkbox" name="productSelect" ng-click="checkProduct(product)" ng-checked="product.checked" title="Select this product for adding to cart...">-->
        <a ng-if="isAdmin()" ng-click="deleteProduct(product)"><span class="edit_pannel" title="Delete this product">D</span></a>
        <a ng-if="isAdmin()" ng-click="gotoEditProduct(product)"><span class="edit_pannel" title="Edit this product">E</span></a>
    </div>
    <div class="content_section">
        <a href="#!/productDetails/{{product.ID}}">
            <div class="img_shadow"><img ng-src="{{product.DisplayImageURL || 'img/default_product.png'}}" /></div>
        </a>
        <p>{{product.Description.length <= 250 ? product.Description : product.Description.substring(0,250) + '...'}}</p>
    </div>
    <div class="details_section">
        <ul>
            <li>
                <div>Price: {{product.Price}} RON</div>
                <div style="float:right;">Available: {{product.Quantity}}</div>
            </li>
            <li>
                <a ng-click="addToWishlist(product)"><span class="edit_pannel action-button button-wishlist">Add to wishlist</span></a>
                <a ng-click="addToCart(product)"><span class="edit_pannel action-button button-cart">Add to cart</span></a>
            </li>
        </ul>
    </div>
</div>

<div ng-show="products.length == 0">
    <center>
        <h2 class="ng-scope">No products in shop yet.</h2>
    </center>
</div>