<h2>Wished products: </h2>

<div class="product" ng-repeat="prod in wlProducts">
    <div class="product_id">
        <p>#{{prod.ID}}</p>
    </div>
    <div class="product-name pwl_descr" style="width:518px">
        <p><a href="#!/productDetails/{{prod.ID}}">{{prod.Name}}</a></p>
    </div>
    <div class="product-price wishlistSize">
        <p>{{prod.Price}} RON</p>
    </div>
    <div class="product-remove action-add" ng-click="moveToCart(prod)" title="Add this product to cart">
        <span>+</span>
    </div>
    <div class="product-remove" ng-click="removeFromWishlist(prod)" title="Remove product from wishlist">
        <span>-</span>
    </div>
</div>

<div class="productbottom">
    <div class="total">
        <p>{{totalPrice}} RON</p>
    </div>
</div>