<div id="control_products">
    <input type="text" class="searchbox" ng-model="search" placeholder="Search by everything" />
    <a ng-click="gotoNewUser()">
        <div id="add_product" class="custom_btn">
            <span>Add new user</span>
        </div>
    </a>
</div>

<h3>Administrators</h3>
<table class="user">
    <tr class="header">
        <th>ID</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr ng-repeat="user in admins | filter:search">
        <td>{{user.ID}}</td>
        <td>{{user.Username}}</td>
        <td>{{user.FirstName}} {{user.LastName}}</td>
        <td>{{user.Email}}</td>
        <td>{{user.Phone}}</td>
        <td class="delete action" ng-click="gotoEditUser(user)"><img src="img/user_edit.png" /></td>
        <td class="delete action" ng-click="deleteUser(user)"><img src="img/user_delete.png" /></td>
    </tr>
</table>

<h3>Customers</h3>
<table class="user">
    <tr class="header">
        <th>ID</th>
        <th>Username</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <tr ng-repeat="user in customers | filter:search">
        <td>{{user.ID}}</td>
        <td>{{user.Username}}</td>
        <td>{{user.FirstName}} {{user.LastName}}</td>
        <td>{{user.Email}}</td>
        <td>{{user.Phone}}</td>
        <td class="delete action" ng-click="gotoEditUser(user)"><img src="img/user_edit.png" /></td>
        <td class="delete action" ng-click="deleteUser(user)"><img src="img/user_delete.png" /></td>
    </tr>
</table>
